In [6]:
v1<-c(4,6,9,11)
typeof(v1)
v2<-c(4L,6L,9L,11L)
typeof(v2)
v3<-c('Kraków','56',78)
typeof(v3)

In [8]:
X<-c(45,8,99,56,7,99,101)
Y<-seq(1,10,length.out = 7)
Z<-2:9

cat('z użyciem funckji c',X,'\n')
cat('z użyciem funckji seq()',Y,'\n')
cat('z użyciem zakresu:',Z,'\n')

z użyciem funckji c 45 8 99 56 7 99 101
z użyciem funckji seq() 1 2.5 4 5.5 7 8.5 10
z użyciem zakresu: 2 3 4 5 6 7 8 9

In [10]:
length(X)
length(Y)
length(Z)

In [12]:
mojalista = list(5,85,3,35,7)
mojalista
typeof(mojalista)

In [13]:
mtab = array(2:13,dim=c(2,3,2))
print(mtab)

, , 1

     [,1] [,2] [,3]
[1,]    2    4    6
[2,]    3    5    7

, , 2

     [,1] [,2] [,3]
[1,]    8   10   12
[2,]    9   11   13

In [14]:
mm = matrix(51,6,6)
print(mm)

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,]   51   51   51   51   51   51
[2,]   51   51   51   51   51   51
[3,]   51   51   51   51   51   51
[4,]   51   51   51   51   51   51
[5,]   51   51   51   51   51   51
[6,]   51   51   51   51   51   51

In [15]:
m1 = diag(c(5,1,8),3,3)
print(m1)

     [,1] [,2] [,3]
[1,]    5    0    0
[2,]    0    1    0
[3,]    0    0    8

In [16]:
m1

5,0,0
0,1,0
0,0,8

In [20]:
A = matrix(
    c(1,3,7,11,3,4,12,8,3,4,1,7),
    nrow = 4,
    ncol = 3,
    byrow = TRUE
)

print(A)

     [,1] [,2] [,3]
[1,]    1    3    7
[2,]   11    3    4
[3,]   12    8    3
[4,]    4    1    7

In [22]:
pl<-c("female","male","female","male","female","male","female","male","male","female")
sx<-factor(pl)
print(sx)

 [1] female male   female male   female male   female male   male   female
Levels: female male

In [23]:
znajomi.data<-data.frame(
    zn_id = c(1:5),
    zn_imie = c("Leon","Irena","Jan","Zofia","Karol"),
    stringAsFactors = FALSE
)
print(znajomi.data)

  zn_id zn_imie stringAsFactors
1     1    Leon           FALSE
2     2   Irena           FALSE
3     3     Jan           FALSE
4     4   Zofia           FALSE
5     5   Karol           FALSE